@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #727272;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Optional: Hover styles */
::-webkit-scrollbar-thumb:hover {
  background-color: #a7a7a7;
}